<div class="row ">
  <div class="col-12 d-flex justify-content-end pr-0">
      <button class="btn  bg-success btn-buscar p-1 mb-2"
      type="button"
      [routerLink]="'/factura/detalle'"
      >
        <i class="fas fa-plus mr-1"></i>Nuevo
      </button>
  </div>
  <div class="card col-12 ">
    <div class=" pt-4 card-body ">
      <div class="row">
        <div class="col-12 col-xl-4">
          <form class="" novalidate [formGroup]="formSearch">
            <div class="form-group row">
              <div class="col-8 col-lg-6 p-0 ">
                <input type="text" class="form-control" id="inputPassword2" placeholder="Nombre cliente"
                  formControlName="nombreCliente" required>
              </div>

              <div class="col-4  p-0   pt-0">
                <button (click)="findByCliente()" type="submit" class="btn btn-search  ml-2 mt-0 ">
                  <i class="fas fa-search mr-1"></i>buscar</button>
              </div>

            </div>

          </form>
        </div>
        <div class="col-12 col-xl-8">

          <form [formGroup]="formFecha">
            <div class="form-inline row ">
              <label class="pr-2" for="desde">Desde</label>
              <input class="" type="date" class="form-control" id="desde" placeholder="desde"
                formControlName="fechaDesde">
              <label class="pr-2 pl-2" for="hasta">Hasta</label>
              <input type="date" class="form-control" id="hasta" formControlName="fechaHasta">
              <div class="">
                <button (click)="findByFecha()" type="submit" class="btn  ml-2 btn-search">
                  <i class="fas fa-search mr-1 "></i>buscar</button>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>



  <div class="col-12 p-0">
    <h2 class="ml-2 mb-0">Facturas</h2>
    <ngx-datatable class="material" [limit]="10" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [scrollbarV]="true" ordering=false [scrollbarH]="true" [rowHeight]="50">
      <ngx-datatable-column name="ID" [sortable]=false>

      </ngx-datatable-column>
      <ngx-datatable-column name="Folio" prop="folio" [sortable]=false>

      </ngx-datatable-column>
      <ngx-datatable-column name="Descrioción" prop="descripcion" [sortable]=false>

      </ngx-datatable-column>
      <ngx-datatable-column name="Fecha" prop="fecha" [sortable]=false>

      </ngx-datatable-column>

      <ngx-datatable-column name="Nombre Cliente" prop="cliente" [sortable]=false>

      </ngx-datatable-column>

      <ngx-datatable-column name="ACCIONES" [sortable]=false>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button  class="btn-buscar p-1 "
          (click)="getIdFactura(row.id)"style="color: white;" ><i
              class="fas fa-edit" ></i></button>

              <button type="button"
              class="btn btn-danger btn-buscar p-2"
              data-toggle="modal"
              (click)="setIdFactura(row.id)"
              data-target="#modalConfirmDelete">
              <i
              class="far fa-trash-alt " style="color: white;"></i></button>

        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>



</div>
  <!-- Button trigger modal-->


 <!-- Button trigger modal-->


<!--Modal: modalConfirmDelete-->
<div class="modal fade " id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Seguro de eliminar?</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fas fa-times fa-4x animated rotateIn"></i>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a href="" (click)="deleteFactura()" class="btn  btn-outline-danger">Yes</a>
        <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalConfirmDelete-->
