<div class="row">

  <div class="input-group">
    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    <div class="input-group-append">
      <span class="input-group-text">$</span>
      <span class="input-group-text">0.00</span>
    </div>
  </div>

  <div class="col-12">
    <ngx-datatable class="table-responsive material"
     [rows]="rows"  [columnMode]="ColumnMode.flex"
     [headerHeight]="50" [footerHeight]="50"
    rowHeight="auto" ordering=false
    [scrollbarH]="true">
    <ngx-datatable-column name="ID" [width]="150" [sortable]=false >

    </ngx-datatable-column>
    <ngx-datatable-column name="FOLIO" [width]="150" [sortable]=false>

    </ngx-datatable-column>
    <ngx-datatable-column name="DESCRIPCION" [width]="150" [sortable]=false>

    </ngx-datatable-column>
    <ngx-datatable-column name="FECHA" [width]="150" [sortable]=false >

    </ngx-datatable-column>

    <ngx-datatable-column name="NOMBRE CLIENTE" [width]="150" [sortable]=false>

    </ngx-datatable-column>

    <ngx-datatable-column name="ACCIONES" [width]="150" [sortable]=false>

    </ngx-datatable-column>

  </ngx-datatable>
  </div>
</div>
